@use "@/styles/abstracts/variables" as v;

.watchlist-page {
  margin-top: 2rem;

  .watchlist-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
  }

  .empty-state {
    text-align: center;
    color: v.$neutral-500;
    margin-top: 2rem;
    padding: 3rem 1rem;
  }
}

.watchlist-skeleton {
  height: 156px;
}
