@use "@/styles/abstracts/variables" as v;

.auth-page {
  box-sizing: border-box;
  padding: v.$space-md;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: v.$space-md;

  .error {
    color: red;
    font-size: small;
    opacity: 0.7;
    margin-top: v.$space-xs;
    font-style: italic;
  }

  .description {
    text-align: center;
  }

  img {
    width: 10rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: v.$space-md;
    width: 100%;
    max-width: 400px;
  }

  #auth-change {
    padding-top: v.$space-sm;
    display: flex;
    align-items: center;
    gap: v.$space-sm;

    .link {
      text-decoration: underline;
    }
  }
}
