@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

.list-skeleton-page {
  .skeleton-backdrop {
    aspect-ratio: 16 / 9;
    border-radius: v.$radius;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  .skeleton-author-section {
    @include m.flex-between;

    .author-info {
      display: flex;
      align-items: center;

      .author-details {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .skeleton-description {
    .skeleton-desc-button {
      display: flex;
      justify-content: center;
    }
  }

  .skeleton-stats {
    .skeleton-stats-row {
      display: flex;
    }
  }

  .skeleton-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-filters {
      display: flex;
      align-items: center;
    }

    .skeleton-badge {
      border-radius: v.$radius * 2;
    }
  }

  .skeleton-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    .skeleton-poster {
      aspect-ratio: 2 / 3;
      border-radius: v.$radius;
    }
  }
}
