@use "@/styles/abstracts/variables" as v;

.watchlist-skeleton-page {
  display: flex;
  flex-direction: column;

  .watchlist-skeleton-filters {
    display: flex;
    align-items: center;
  }

  .watchlist-skeleton-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    .watchlist-skeleton {
      height: 156px;
    }
  }
}
