.reviews {
  margin-bottom: 1rem;
  .review-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .card-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .button {
      display: flex;
      gap: 0.5rem;
      padding: 0;
      background-color: transparent;
    }

    .review-footer {
      display: flex;
      justify-content: space-between;

      .review-actions {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  .see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    margin-top: 1rem;
  }
}
