@use "./variables" as v;

@mixin link {
  color: v.$c-text;

  &:hover {
    color: v.$c-heading;
  }
}

@mixin underline-link {
  @include link;

  text-decoration: underline;
}

@mixin animated-link {
  @include link;

  position: relative;
  display: inline-block;
  text-decoration: none;

  transition: color 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 0;
    background-color: v.$c-heading;
    transition: width 0.2s ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

@mixin like-button {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: v.$c-muted;

  transition:
    color 0.2s ease,
    background-color 0.2s ease;

  &:hover {
    color: v.$c-text;
  }
}

// FLEXBOX LAYOUTS
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// RESPONSIVE QUERIES
@mixin responsive($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

// EMPTY STATE
@mixin empty-state {
  text-align: center;
  color: v.$c-muted;
  margin-top: v.$space-xl;
  padding: v.$space-2xl v.$space-md;
}
