@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

.watchlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
  margin: v.$space-md 0;
}
