@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

.horizontal-wrapper {
  position: relative;

  h3 {
    padding: v.$space-xs 0;
  }
}

.horizontal-scroll {
  display: flex;
  gap: v.$space-md;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding-bottom: v.$space-sm;

  // masquer scrollbar
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    scroll-snap-align: start;
    flex: 0 0 auto;
  }
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border-radius: 100%;

  width: v.$space-xl;
  height: v.$space-xl;
  background: rgba(0, 0, 0, 0.6);
  color: v.$c-bg;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.2s ease;

  &.left {
    left: -(v.$space-sm);
  }

  &.right {
    right: -(v.$space-sm);
  }
}

// RESPONSIVE
@include m.responsive(v.$bp-md) {
  .horizontal-wrapper:hover .scroll-btn {
    opacity: 1;
  }
}
