@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

.selection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: v.$space-lg;

  @include m.responsive(v.$bp-lg) {
    grid-template-columns: repeat(6, 1fr);
  }

  .card-desktop {
    display: none;
    margin: auto;

    @include m.responsive(v.$bp-lg) {
      display: block;
    }
  }

  .card-mobile {
    margin: auto;
    @include m.responsive(v.$bp-lg) {
      display: none;
    }
  }
}
