@use "@/styles/abstracts/variables" as v;

.diary-page {
  .article-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    h2 {
      font-size: 1.5rem;
    }
  }

  .filter-badges {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .diary-month-wrapper {
    margin-bottom: 3rem;

    .diary-mobile {
      display: block;
      @media (min-width: 768px) {
        display: none;
      }
    }

    .month-grid-section {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
}
