@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

.visitor-home {
  .hero-section {
    position: relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
    color: v.$c-heading;

    .hero-content {
      position: relative;
      z-index: 1;
      max-width: 800px;
      text-align: center;
    }

    .hero-title {
      font-weight: 800;
      line-height: 1.1;
      font-size: 2.25rem;

      @include m.responsive(v.$bp-md) {
        font-size: 4rem;
      }
    }

    .hero-subtitle {
      font-size: 1.125rem;
      color: v.$c-text;
      line-height: 1.6;

      @include m.responsive(v.$bp-md) {
        font-size: 1.25rem;
      }
    }

    .hero-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include m.responsive(v.$bp-sm) {
        flex-direction: row;
      }
    }
  }

  .section-title {
    font-size: 1.5rem;
    font-weight: 700;

    &.text-center {
      text-align: center;
    }
  }

  .selection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    @include m.responsive(v.$bp-lg) {
      grid-template-columns: repeat(6, 1fr);
    }

    .card-desktop {
      display: none;
      margin: auto;

      @include m.responsive(v.$bp-lg) {
        display: block;
      }
    }

    .card-mobile {
      margin: auto;
      @include m.responsive(v.$bp-lg) {
        display: none;
      }
    }
  }
  .features-section {
    background-color: v.$c-surface;

    .features-grid {
      display: grid;
      grid-template-columns: 1fr;

      @include m.responsive(v.$bp-md) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .feature-card {
      text-align: center;

      .feature-icon-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: v.$c-border;
        color: v.$c-heading;
      }

      .feature-title {
        font-size: 1.25rem;
        font-weight: 700;
      }

      .feature-desc {
        color: v.$c-text;
        line-height: 1.6;
      }
    }
  }
}
