@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;
.biography {
  position: relative;
  margin: 0.5rem 0;

  .overview-preview {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    margin-bottom: 0.25rem;
  }

  .overview-expanded {
    line-height: 1.2;
    margin-bottom: 0.25rem;
  }

  .read-more-btn {
    background: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding: 0.25rem 0;
  }

  @include m.responsive(v.$bp-md) {
    .overview-preview {
      line-clamp: 6;
      -webkit-line-clamp: 6;
    }
  }
}
