@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;
.review-list {
  display: flex;
  flex-direction: column;
  gap: v.$space-md;

  .review-card {
    background-color: v.$c-surface;
  }

  .card-footer {
    @include m.flex-between;
  }

  .button {
    display: flex;
    gap: v.$space-sm;
    padding: 0;
    background-color: transparent;
  }

  .review-footer {
    display: flex;
    justify-content: space-between;

    .review-actions {
      display: flex;
      gap: v.$space-sm;
    }
  }
}

.see-more {
  @include m.flex-center;
  gap: v.$space-xs;
  margin-top: v.$space-md;
}
