.review-dialog-header {
  .back-button {
    border: none;
    background-color: transparent;
    margin-bottom: 0.25rem;
  }
}

.review-content {
  display: flex;
  flex-direction: column;

  .review-form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    textarea {
      min-height: 6rem;
    }

    .content-count {
      text-align: right;
      font-size: 0.875rem;

      &.error {
        color: #ef4444;
      }
    }
  }
}
