@use "@/styles/abstracts/variables" as v;

.review-dialog-header {
  .back-button {
    border: none;
    background-color: transparent;
    margin-bottom: 0.25rem;
  }
}

.review-content {
  display: flex;
  flex-direction: column;

  .review-form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    textarea {
      min-height: 6rem;
    }

    .content-count {
      text-align: right;
      font-size: 0.875rem;

      &.error {
        color: #ef4444;
      }
    }

    .dialog-footer {
      display: flex;
      align-items: center;
      width: 100%;

      .footer-actions {
        display: flex;
        gap: 0.5rem;
        margin-left: auto;
      }

      .delete-button {
        padding: 0.5rem;
        color: v.$destructive;
        &:hover {
          background-color: rgba(v.$destructive, 0.1);
        }

        &.confirm-mode {
          color: white;

          &:hover {
            background-color: v.$destructive-hover;
          }
        }
      }
    }
  }
}
