@use "@/styles/abstracts/variables" as v;

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  white-space: nowrap;

  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1;

  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid transparent;

  background: v.$c-heading;
  color: v.$c-bg;

  &.badge-secondary {
    background: v.$c-surface;
    color: v.$c-heading;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  &.badge-outline {
    background: transparent;
    border-color: v.$c-border;
    color: v.$c-heading;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  &.badge-destructive {
    background: v.$destructive;
    color: v.$c-bg;
  }

  &.badge-sm {
    font-size: 0.625rem;
    padding: 0.15rem 0.3rem;
  }

  &.badge-md {
    font-size: 0.75rem;
    padding: 0.3rem 0.5rem;
  }

  &.badge-lg {
    font-size: 0.875rem;
    padding: 0.45rem 0.7rem;
  }
}
