@use "@/styles/abstracts/variables" as v;

.app-textarea {
  padding: 0.55rem 0.8rem;
  font-size: 0.95rem;
  border-radius: 0.5rem;
  background-color: v.$c-bg;
  color: v.$c-text;
  border: 1.5px solid v.$c-border;
  resize: vertical;

  transition: box-shadow 150ms ease-in-out;

  &::placeholder {
    color: v.$c-muted;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.15);
  }

  &:disabled {
    background-color: v.$c-surface;
    cursor: not-allowed;
  }
}
