@use "@/styles/abstracts/variables" as v;

.article-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .animated-link {
    display: none;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  // RESPONSIVE
  @media (min-width: 768px) {
    h2 {
      font-size: 1.5rem;
    }

    .animated-link {
      display: flex;
    }
  }
}
