@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

.trending-section {
  margin-top: v.$space-lg;
  margin-bottom: v.$space-2xl;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: v.$space-sm;

    .hidden-mobile {
      display: none;
      @include m.responsive(v.$bp-md) {
        display: inline-flex;
      }
    }
  }
}
