@use "@/styles/abstracts/variables" as v;

.mention-legales {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
    gap: v.$space-md;
    border: 1px solid v.$c-border;
    padding: v.$space-2xl;
    border-radius: v.$radius;
    background-color: v.$c-surface;
  }
}
