@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

.film-page-skeleton {
  &__mobile {
    display: flex;
  }

  &__tablet {
    display: none;
  }

  &__desktop {
    display: none;
  }

  @include m.responsive(v.$bp-md) {
    &__mobile {
      display: none;
    }

    &__tablet {
      display: flex;
    }

    &__desktop {
      display: none;
    }
  }

  @include m.responsive(v.$bp-lg) {
    &__mobile {
      display: none;
    }

    &__tablet {
      display: none;
    }

    &__desktop {
      display: flex;
    }
  }
}
