@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;
.title-container {
  display: flex;
  flex-direction: column;
  gap: v.$space-xs;
  margin: v.$space-sm 0;

  .title {
    font-weight: 800;
    line-height: 1.2;

    &.sm {
      font-size: 1rem;

      @include m.responsive(v.$bp-md) {
        font-size: 1.25rem;
      }
    }

    &.md {
      font-size: 1.25rem;

      @include m.responsive(v.$bp-md) {
        font-size: 1.5rem;
      }
    }

    &.lg {
      font-size: 1.5rem;

      @include m.responsive(v.$bp-md) {
        font-size: 1.75rem;
      }
    }

    &.xl {
      font-size: 1.75rem;

      @include m.responsive(v.$bp-md) {
        font-size: 2.25rem;
      }
    }
  }

  .subtitle {
    font-size: 0.95rem;
  }
}
