@use "@/styles/abstracts/variables" as v;

.tabs {
  display: flex;
  width: 100%;

  button {
    border: none;

    cursor: pointer;

    flex: 1 1 0;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: clamp(0.8rem, 2vw, 1rem);

    transition:
      background-color 0.2s ease,
      color 0.2s ease;

    &.active {
      font-weight: 600;
    }
  }

  // VARIANTES
  &.default {
    background-color: v.$neutral-200;
    padding: 0.3rem;
    border-radius: 0.5rem;
    gap: 0.5rem;

    button {
      border-radius: 0.5rem;
      background-color: v.$neutral-200;

      &.active {
        background-color: v.$neutral-50;
        box-shadow: 0px 2px 5px 0px rgba(115, 115, 115, 0.3);
      }
    }
  }

  &.transparent {
    border-bottom: 1px solid v.$neutral-200;

    button {
      color: v.$neutral-600;
      background-color: transparent;

      &.active {
        color: v.$neutral-900;
        border-bottom: 2px solid black;
      }
    }
  }

  &.header {
    background-color: v.$neutral-200;
    padding: 0.3rem;
    border-radius: 999px;
    gap: 0.25rem;
    margin-top: 2rem;
    width: 50%;
    margin-inline: auto;

    button {
      border-radius: 999px;
      font-size: 0.9375rem;
      padding: 0.375rem 1rem;
      color: v.$neutral-600;
      background-color: v.$neutral-200;

      @media (min-width: 768px) {
        font-size: 1rem;
        padding: 0.5rem 1.25rem;
      }

      &:hover {
        color: v.$neutral-900;
      }

      &.active {
        background-color: v.$neutral-50;
        color: v.$neutral-900;
        box-shadow: 0px 2px 5px 0px rgba(115, 115, 115, 0.3);
      }
    }
  }
}
